@model IEnumerable<yourTrip.Models.DestinationModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container">
    @Html.ActionLink("Return to trip list", "Index", "Trip")

    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_AddDestination", new yourTrip.Models.DestinationModels())
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                @if (ViewBag.HasDestinations == 1)
                {
                    foreach (var item in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    @Html.DisplayFor(itemModel => item.Destination) <br />
                                    @Html.DisplayFor(itemModel => item.Arrival) <br />
                                    @Html.DisplayFor(itemModel => item.Leave)
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>
