@using yourTrip.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.ReturnUrl = "/Trip/Index";
}

<br /><br />
<div class="container body-content text-center backCover brige">
    <div class="row">
        <div class="col-lg-offset-6 col-md-offset-5 col-lg-5 col-md-6">
            <br /><br />
            <div class="card">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-header">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <button class="btn btn-trip" type="submit">Sign in</button>
                        <p>
                            Are you new? Please, @Html.ActionLink("Register", "Register", null, new { @class = "" })
                        </p>
                        </div>

                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    *@
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
