@model yourTrip.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container body-content backCover rute">
    <div class="row">
        <div class="col-md-5 col-lg-offset-1 col-md-offset-0">
            <br /><br />
            <div class="card">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-header">
                        <h1 class="h3 mb-3 font-weight-normal">Create a new account.</h1>
                    </div>
                    <div class="card-body">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Name" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Surname" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <input type="submit" class="btn btn-trip" value="Register" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
