@model yourTrip.Models.TripModels

@{
    ViewBag.Title = "Create";
    ViewBag.Latitud = "15";
    ViewBag.Longitud = "0";
    ViewBag.Zoom = "2";
    ViewBag.Error = ViewBag.HasErrors ? "display:block;" : "display:none;";
}
<div class="container body-content">
    <h2>First step to plan your trip</h2>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @*@Html.HiddenFor(model => model.PlaceId, htmlAttributes: new { @id = "placeId", @value = "" })
            @Html.HiddenFor(model => model.Latitud, htmlAttributes: new { @id = "latitud", @value = "" })
            @Html.HiddenFor(model => model.Longitud, htmlAttributes: new { @id = "longitud", @value = "" })*@

            @*<div class="form-group">
                @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="locationField">
                        @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @id = "autocomplete", @class = "form-control", @type = "text", placeholder = "Witch city are you going?" } })
                    </div>
                </div>
            </div>*@
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

            <div class="form-group">
                <div id="map"></div>
            </div>

            <div class="alert alert-danger alert-dismissible" role="alert" style="@ViewBag.Error">
                @*@Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })*@
                @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger", @value = @ViewBag.InnerException })
            </div>

        </div>
        }

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div id="mapsImages"></div>
        </div>
    </div>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <!-- Maps Stuff -->
    <div id="listing">
        <table id="resultsTable">
            <tbody id="results"></tbody>
        </table>
    </div>

    <div style="display: none">
        <div id="info-content">
            <table>
                <tr id="iw-url-row" class="iw_table_row">
                    <td id="iw-icon" class="iw_table_icon"></td>
                    <td id="iw-url"></td>
                </tr>
                <tr id="iw-address-row" class="iw_table_row">
                    <td class="iw_attribute_name">Address:</td>
                    <td id="iw-address"></td>
                </tr>
                <tr id="iw-phone-row" class="iw_table_row">
                    <td class="iw_attribute_name">Telephone:</td>
                    <td id="iw-phone"></td>
                </tr>
                <tr id="iw-rating-row" class="iw_table_row">
                    <td class="iw_attribute_name">Rating:</td>
                    <td id="iw-rating"></td>
                </tr>
                <tr id="iw-website-row" class="iw_table_row">
                    <td class="iw_attribute_name">Website:</td>
                    <td id="iw-website"></td>
                </tr>
            </table>
        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}