@model yourTrip.Models.TripModels

@{
    ViewBag.Title = "Details";
    var destination = Model.Destination.ToString().Replace(' ', '+');
}
<link href="~/Content/main.css" rel="stylesheet" />


<div class="container body-content">
    <h2>Your trip start in</h2>
    <div class="row">
        <div class="col-md-6">

            @Html.Partial("_Counter")

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Destination)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Destination)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Departure)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Departure)
                </dd>
            </dl>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        <div class="col-md-6">
            <iframe frameborder="0" class="detailMap"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCFigjZClvz9N8z4KeZpBJyCm1eM_A3-nw
                &q=@destination" allowfullscreen></iframe>
        </div>
    </div>
</div>