@model IList<yourTrip.Models.TripModels>

@{
    bool isFuture = ViewBag.IsFuture.Equals("1") ? true : false;
    bool disable = Model.Count() == 0;
}

<div class="container body-content ">
    <h2>These are your trips</h2>
    <p>
        @using (Html.BeginForm("Create", "Trip", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", @type = "text", placeholder = "Name your trip" } })
                @Html.Editor("Departure", new { htmlAttributes = new { @class = "form-control", @type = "date", placeholder = "Pic a date" } })
            </div>
            <button type="submit" class="btn btn-default">Start!</button>
        }
    </p>
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.ActionLink("Future", "Index", "Trip", new { future = true }, new { @class = "btn btn-lg btn-trip " })
                @Html.ActionLink("Past", "Index", "Trip", new { future = false }, new { @class = "btn btn-lg btn-default " })
            </div>
            @if (Model.Count() > 0)
            {
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Departure")
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departure)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Ver", "View", "Destination", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div>
                    You don't have any incomming trip. <br />
                    @Html.ActionLink("Let's create one!", "Create", "Trip")
                </div>
            }
        </div>
        <div class="col-md-6">
            @Html.Partial("_Counter")
        </div>
    </div>
</div>
